/* teams section styling */
.teams{
    color:#fff;
    background: #111;
}
.teams .title::before
{
    background: #fff;
}
.teams .title::after,
.teams .title::after{
    background: #111;
    content: "what i provide";
}
.teams .team-content .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.teams .team-content .card{
   
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    margin-top: 12px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.teams .team-content .card:hover{
    background: crimson;
}
.teams .team-content .card .box{
    transition: all 0.3s ease;
}
.teams .team-content .card:hover .box{
    transform: scale(1.05);
}
.teams .team-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.teams .team-content .card:hover i{
    color: #fff;
}
.teams .team-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}